:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  




  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  height: 100%;
  display: grid;
  grid-template-rows: .1fr 1fr;
}
html, body{
  height: 100%;
}
.left{
  display: flex;
  align-items: center;
}
.navbar{
  display: flex;
  background-image: url('./imgs/Moon_texture.jpg');
  background-size: contain;
  padding: 50px;
  box-shadow: 2px 2px 5px;
  
}
.right{
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 2px 2px 5px;
}
.cards{
  padding: 50px;
}

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) ;
  gap: 20px;
}
.cardImage{
  width: 150px;
  max-height: 150px;
  object-fit: contain;
}
.top{
  height: 50%;
  display: flex;
}
.bottom{
  height: 50%;
}
.bottom, .quanos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.add{
  background-color: orange;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
}
.cart{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  
  justify-content: center;
  padding: 50px;
  
}
.card{
  background-color: white;
}

.none{
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage{
  background-image: url('./imgs/pexels-francesco-ungaro-998641.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;


}
.switch{
  background-color: white;
  color: black;
  padding: 40px;
  border-radius: 8px;
  font-weight: bolder;
  letter-spacing: 5px;
  font-size: larger;
  box-shadow: 8px 8px 5px gray;
  border-style: none;

}
.switch:hover{
  animation: .8s button-switch 1 forwards;
}
.take{
  color: white;
  font-size: 50px;
}
@keyframes button-switch{
  from{
    background-color: white;
    color: black;
  }
  to{
    background-color: black;
    color: white;
  }
}
.products{
  background-image: url('./imgs/52565304936_fc8852f1e9_k.jpg');

  background-size: cover;
}
.itemcontainer{
  border: 2px solid black;
  border-radius: 100px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightcoral;
  position: absolute;
  right: -5px;
  top: -10px;
}
#quantity{
  border-radius: 5px;
  border: 2px solid black;
}
.quant{
  display: flex;
  gap: 5px;

}
.cartCard{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-height: 10vh;
  position: relative;
  margin-right: 70px;
}
.cartCards{
  display: grid;
  gap: 50px;
  padding: 20px;
  
  overflow-y: auto;
  align-content: start;
  box-shadow: 2px 2px 5px;
  justify-content: center;
  

}
.your{
  margin-right: 140px;
}
.cartCardRight{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.oneLine{
  display: flex;
  gap: 10px;
  position: relative;
}
.remove{
  
  border: none;
  width: 40px;
  height: 40px;
  font-size: larger;
  background-color: white;
  color: red;
 
  
  
}
.cartImage{
  justify-self: end;
}
.cartRight{
  box-shadow: 2px 2px 5px;
}